@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Password Confirmation</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/LoginContent/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginContent/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginContent/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginContent/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginContent/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginContent/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginContent/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginContent/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginContent/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginContent/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/LoginContent/css/main.css">
    <link href="~/assets/css/sweetalert.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <script src="~/Content/jquery-1.10.0.min.js"></script>
</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('/Content/LoginContent/images/login_flightale.jpg');">
            <div class="wrap-login100 p-t-30 p-b-50">
                <span class="login100-form-title p-b-41">
                    @*<img src="~/assets/images/kazi.png" style="width: auto;height: 150px;">*@
                    @*<img src="~/assets/images/flemingo.png" style="width: 400px;height: 65px;">*@
                    @*<img src="~/assets/images/algazi.png" style="width: 400px;height: 65px;">*@
                    @*<img src="~/assets/images/innoglobe.png" style="width: 322px;height: 107px;">*@
                    @*<img src="~/app-assets/images/logo/gsamanagements.png" style="width: 380px;height: 80px;">*@
                    <img src="~/Gsa_Management_System_layout/assets/imagess/globalaviation.png" style="width: 380px;height: 80px;">
                    @*<img src="~/assets/images/GoZayaanLogin.png" style="width: 255px;height: 70px;">*@
                    @*<img src="~/assets/images/LatifTravels.png" style="width: 360px;height: 100px;">*@
                    @*<img src="~/assets/images/flightale01.png" style="width: 400px;height: 160px;">*@
                </span>
                <!-- <span class="login100-form-title p-b-41">
                    Account Login
                </span> -->
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.AntiForgeryToken()
                <hgroup class="title">
                    <h1>@ViewBag.Title</h1>
                </hgroup>
                <div>
                    <span style="font-weight:bold">
                        <i>
                            Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
</i>
</span>
                </div>

            </div>
        </div>
    </div>

    <div id="dropDownSelect1"></div>
    @*<script src="~/Content/LoginContent/vendor/jquery/jquery-3.2.1.min.js"></script>*@
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <script src="~/Content/LoginContent/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/LoginContent/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/LoginContent/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/LoginContent/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/LoginContent/vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/LoginContent/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/LoginContent/js/main.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        var msg = '@ViewBag.msg';
        if (msg != "") {
            swal({
                title: "Warning!",
                text: msg,
                icon: "warning",
                button: "OK!"
            });
            return false;
        }
    })
    </script>
</body>
</html>
















@*@{
    ViewBag.Title = "Reset password confirmation";
    Layout = null;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>*@
