@model IEnumerable<GSA_Management_Information_System.Models.StockIssueDetailInformations>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SIssued_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ticket_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SIssued_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ticket_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SDetailsId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SDetailsId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SDetailsId })
        </td>
    </tr>
}

</table>
