@model GSA_Management_Information_System.Models.CargoSalesInformation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CargoSalesInformation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Invoice_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoice_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAWB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAWB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Check_Digit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Check_Digit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Flight_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flight_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Airway_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Airway_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Freighter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Freighter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Origin_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Origin_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dest_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dest_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Continent_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Continent_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentMode_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMode_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CFPaymode_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CFPaymode_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Route_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Route_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cargo_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cargo_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UType_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UType_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HBL_Qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HBL_Qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AMS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AMS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gross_Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gross_Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chargeable_Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chargeable_Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rate_Charge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate_Charge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.B_Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.B_Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Agent_Commission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agent_Commission)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AIT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AIT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SSC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FSC_Charge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FSC_Charge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISS_Charge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISS_Charge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HDS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HDS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Others)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Others)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consignee_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consignee_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consignor_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consignor_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Receivable_From_Agent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receivable_From_Agent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exchange_Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exchange_Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Receivable_Amount_BDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receivable_Amount_BDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Payable_Agent_CC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payable_Agent_CC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks_B_Bank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks_B_Bank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Entry_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entry_Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Slno }) |
    @Html.ActionLink("Back to List", "Index")
</p>
