@model GSA_Management_Information_System.Models.ContinentInformation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ContinentInformation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Continent_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Continent_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Long_Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Long_Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FSC_Charge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FSC_Charge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISS_Charge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISS_Charge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Default_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Default_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Entry_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entry_Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ContinentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
