@model GSA_Management_Information_System.Models.CustomerInformation


@{
    ViewBag.Title = "Edit";
}
<meta name="viewport" content="width=device-width, initial-scale=1">

@using (Html.BeginForm("Edit", "CustomerInformation", FormMethod.Post, new { onSubmit = "return SubmitForm(this)" }))
            {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.CustomerId)
    <div class="form-horizontal">
        <div class="container">
            <div class="card ">
                <div class="card-header bg-info" style="height: 4rem;">Customer Edit</div>
                <div class="row">
                    <div class="form-group">
                        <div class="form-group col-md-10 col-sm-12 ">
                            <label for="accessname" class="col-md-3 col-sm-5">Customer Code<font size="2px" color="red">*</font></label>
                            <div class="col-md-6 col-sm-7">
                                @Html.Editor("Customer_Code", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.Customer_Code, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-10 col-sm-12 ">
                            <label for="controllername" class="col-md-3 col-sm-5">BP_Code<font size="2px" color="red">*</font></label>
                            <div class="col-md-6 col-sm-7">
                                @Html.EditorFor(model => model.Bp_Code, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Bp_Code, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-10 col-sm-12 ">
                            <label for="controllername" class="col-md-3 col-sm-5">Customer Name<font size="2px" color="red">*</font></label>
                            <div class="col-md-6 col-sm-7">
                                @Html.EditorFor(model => model.Customer_Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Customer_Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-10 col-sm-12 ">
                            <label for="controllername" class="col-md-3 col-sm-5">Customer Type<font size="2px" color="red">*</font></label>
                            <div class="col-md-6 col-sm-7">
                                @Html.DropDownList("Type_Code", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Type_Code, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-10 col-sm-12 ">
                            <label for="controllername" class="col-md-3 col-sm-5">Customer Group<font size="2px" color="red">*</font></label>
                            <div class="col-md-6 col-sm-7">
                                @Html.DropDownList("Group_Code", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Group_Code, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-10 col-sm-12 ">
                            <label for="controllername" class="col-md-3 col-sm-5">Address<font size="2px" color="red">*</font></label>
                            <div class="col-md-6 col-sm-7">
                                @Html.TextAreaFor(model => model.Address, 2, 52, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-10 col-sm-12 ">
                            <label for="controllername" class="col-md-3 col-sm-5">Country<font size="2px" color="red">*</font></label>
                            <div class="col-md-6 col-sm-7">
                                @Html.DropDownList("Country_Code", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Country_Code, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-10 col-sm-12 ">
                            <label for="controllername" class="col-md-3 col-sm-5">City<font size="2px" color="red">*</font></label>
                            <div class="col-md-6 col-sm-7">
                                @Html.DropDownList("City_Code", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.City_Code, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-10 col-sm-12 ">
                            <label for="controllername" class="col-md-3 col-sm-5">Contact No<font size="2px" color="red">*</font></label>
                            <div class="col-md-6 col-sm-7">
                                @Html.EditorFor(model => model.Contact_No, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Contact_No, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        <div class="form-group col-md-10 col-sm-12 ">
                            <label for="controllername" class="col-md-3 col-sm-5">Fax<font size="2px" color="red">*</font></label>
                            <div class="col-md-6 col-sm-7">
                                @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-10 col-sm-12 ">
                            <label for="controllername" class="col-md-3 col-sm-5">Email<font size="2px" color="red">*</font></label>
                            <div class="col-md-6 col-sm-7">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-10 col-sm-12 ">
                            <label for="controllername" class="col-md-3 col-sm-5">Web<font size="2px" color="red">*</font></label>
                            <div class="col-md-6 col-sm-7">
                                @Html.EditorFor(model => model.Web, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Web, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-10 col-sm-12 ">
                            <label for="controllername" class="col-md-3 col-sm-5">Contact Person<font size="2px" color="red">*</font></label>
                            <div class="col-md-6 col-sm-7">
                                @Html.EditorFor(model => model.Contact_Person, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Contact_Person, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-10 col-sm-12 ">
                            <label for="controllername" class="col-md-3 col-sm-5">Status<font size="2px" color="red">*</font></label>
                            <div class="col-md-6 col-sm-7">
                                @Html.DropDownListFor(Model => Model.Status, new SelectList(ViewBag.list), htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-10 col-sm-12 ">
                            <label for="controllername" class="col-md-3 col-sm-5">Default<font size="2px" color="red">*</font></label>
                            <div class="col-md-6 col-sm-7">
                                @Html.EditorFor(model => model.Default_Code)
                                @Html.ValidationMessageFor(model => model.Default_Code, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-10 col-sm-12 ">
                            <div class="col-md-10">
                                <div align="center">
                                    <a class="btn btn-primary" style="margin-left:10px" onclick="location.href='@Url.Action("Index", "CustomerInformation")'"><i class="fa fa-plus"></i>Back To List</a>
                                    <input type="submit" value="submit" class="btn btn-info" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

@section scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "mm/dd/yy",
                changemonth: true,
                changeyear: true,
                minDate: new Date(2018, 0, 1),
                maxDate: new Date(2020, 0, 1),
                showOn: "both",
                buttonImage: "http://jqueryui.com/resources/demos/datepicker/images/calendar.gif",
                buttonText: "Calender"
            });
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")

}