
@model GSA_Management_Information_System.Models.ConsigneeInformation
@{
    ViewBag.Title = "Add";
}

@using (Html.BeginForm("Create", "ConsigneeInformation", FormMethod.Post, new { onSubmit = "return SubmitForm(this)" }))
{
    <div class="form-horizontal">
        <h4>Consignee Information</h4>
        <hr />
        <input type="hidden" name="ConsigneeCode" value="@ViewBag.ConsigneeCode" />
        @*@{TempData["ConsignorCode"] = ViewBag.ConsignorCode}*@
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="form-group">
                @Html.Label("Consignee_Code", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.Editor("Consignee_Code", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Consignee_Code, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.Consignee_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Consignee_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Consignee_Name, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.Consignee_Address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.TextAreaFor(model => model.Consignee_Address, 5, 54, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Consignee_Address, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.DropDownListFor(Model => Model.Status, new SelectList(ViewBag.list), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.Default_Code, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Default_Code)
                        @Html.ValidationMessageFor(model => model.Default_Code, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.Entry_Date, htmlAttributes: new { @class = "hidden" })
                <div class="col-md-10">
                    @Html.Editor("Entry_Date", new { htmlAttributes = new { @class = "hidden" } })
                    @Html.ValidationMessageFor(model => model.Entry_Date, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.Entry_By, htmlAttributes: new { @class = "hidden" })
                <div class="col-md-10">
                    @Html.Editor("Entry_By", new { htmlAttributes = new { @class = "hidden" } })
                    @Html.ValidationMessageFor(model => model.Entry_By, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <div align="right">
                        <input type="submit" value="submit" class="btn btn-primary" />
                        <input type="reset" value="reset" class="btn btn-warning" />
                    </div>
                </div>
            </div>
        </div>
    </div>

}


<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

@section scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "mm/dd/yy",
                changemonth: true,
                changeyear: true,
                minDate: new Date(2018, 0, 1),
                maxDate: new Date(2020, 0, 1),
                showOn: "both",
                buttonImage: "http://jqueryui.com/resources/demos/datepicker/images/calendar.gif",
                buttonText: "Calender"
            });
        });
    </script>
}




