@model GSA_Management_Information_System.Models.CommonSetupInformation

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CommonSetupInformation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SerialNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Particulars)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Particulars)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Particular_Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Particular_Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Minimum_Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Minimum_Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Entry_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entry_By)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
