@model GSA_Management_Information_System.Models.CargoSalesReport
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@using (Html.BeginForm("Export", "CargoSalesReport", FormMethod.Post, new { onSubmit = "return SubmitForm(this)" }))
            {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-horizontal">
        <div class="container">
            <div class="card ">  
                <div class="card-header bg-info">Display Report Information </div>
                <div class="row">
                    <div class="form-group">
                        <div class="form-group col-md-10 col-sm-12 ">
                            <label for="accessname" class="col-md-3 col-sm-5">Report Name<font size="2px" color="red">*</font></label>
                            <div class="col-md-6 col-sm-7">
                                @*<select name="ReportName" id="reportname" class="form-control">*@
                                    <select name="ReportName" id="reportid" class="form-control">
                                        <option value="">Select Report Name </option>
                                        @foreach (var report in ViewBag.ReportList)
                                        {
                                            <option value="@report.ReportId">@report.ReportName</option>
                                        }
                                    </select>
                            </div>
                        </div>

                       
                        <div id="datewise">
                            <div class="form-group col-md-10 col-sm-12 ">
                                <label for="accessname" class="col-md-3 col-sm-5">From Date<font size="2px" color="red">*</font></label>
                                <div class="col-md-4 col-sm-7">
                                    <div class="input-group">
                                        @*@Html.Editor("Ticket_Date", new { htmlAttributes = new { @class = "datepicker1" } })*@
                                        <input type="text" class="form-control datepicker" name="FromDate" id="DateFrom" placeholder="Date From" data-format="mm/dd/yyyy">
                                        <div class="input-group-addon">
                                            <a href="#"><i class="fa fa-calendar"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="col-sm-1">
                                        <div class="required">
                                            <input id="checkmasterdate" type="radio" value="MasterDate" checked="checked" name="Entry_Date" />
                                            @*<input type="hidden" value="false" name="CheckSSCVat" />*@
                                            @*<input type="checkbox"  onkeyup="totalSub()" name="CheckSSCVat" id="checksscvat">*@
                                        </div>
                                    </div>
                                    <label for="accessname" class="col-md-9 col-sm-9">Master Date<font size="2px" color="red"></font></label>
                                </div>

                            </div>
                            <div class="form-group col-md-10 col-sm-12 ">
                                <label for="accessname" class="col-md-3 col-sm-5">To Date<font size="2px" color="red">*</font></label>
                                <div class="col-md-4 col-sm-7">
                                    <div class="input-group">
                                        @*@Html.Editor("Ticket_Date", new { htmlAttributes = new { @class = "datepicker1" } })*@
                                        <input type="text" class="form-control datepicker" name="ToDate" id="DateTo" placeholder="To Date" data-format="mm/dd/yyyy">
                                        <div class="input-group-addon">
                                            <a href="#"><i class="fa fa-calendar"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="col-sm-1">
                                        <div class="required">
                                            <input id="checkflightdate" type="radio" value="FlightDate" name="Flight_Date" />
                                            @*<input type="hidden" value="false" name="CheckSSCVat" />*@
                                            @*<input type="checkbox" onkeyup="totalSub()" name="CheckSSCVat" id="checksscvat">*@
                                        </div>
                                    </div>
                                    <label for="accessname" class="col-md-9 col-sm-9">Flight Date<font size="2px" color="red"></font></label>
                                </div>
                            </div>

                        </div>
                        @*Agent/Customer Wise*@
                        <div id="agentwise">
                            <div class="form-group col-md-10 col-sm-12 ">
                                <label for="accessname" class="col-md-3 col-sm-5">Agent/Customer Code<font size="2px" color="red">*</font></label>
                                <div class="col-md-4 col-sm-7">
                                    <div class="input-group">
                                        @*@Html.Editor("Ticket_Date", new { htmlAttributes = new { @class = "datepicker1" } })*@
                                        <input name="Customer_Name" textbox id="customer" readonly="readonly" placeholder="Customer Name" class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="col-sm-1">
                                        <div class="required">
                                            <input id="customerallitemcheck" value="" type="checkbox" checked="checked" name="CheckSSCVat" />
                                            @*<input type="hidden" value="false" name="CheckSSCVat" />*@
                                            @*<input type="checkbox"  onkeyup="totalSub()" name="CheckSSCVat" id="checksscvat">*@
                                        </div>
                                    </div>
                                    <label for="accessname" class="col-md-9 col-sm-9">All Item <font size="2px" color="red"></font></label>
                                </div>

                            </div>
                        </div>
                        @*freightpaymode*@
                        <div id="freightpaymode">
                            <div class="form-group col-md-10 col-sm-12 ">
                                <label for="accessname" class="col-md-3 col-sm-5">From Item<font size="2px" color="red"></font></label>
                                <div class="col-md-4 col-sm-7">

                                    @*@Html.Editor("Ticket_Date", new { htmlAttributes = new { @class = "datepicker1" } })*@
                                    @*@Html.EditorFor(model => model.MAWB, new { htmlAttributes = new { @class = "form-control",@readonly= "readonly", placeholder = "From Destination",id="fromitem" } })*@
                                    <input name="From_Item" textbox id="freightpaymodefromitem" readonly="readonly" placeholder="From Item" class="form-control" type="text">

                                </div>
                                <div class="col-md-3">
                                    <div class="col-sm-1">
                                        <div class="required">
                                            <input id="freightpaymodeallitemcheck" value="" type="checkbox" checked="checked" name="CheckSSCVat" />
                                            @*<input type="hidden" value="false" name="CheckSSCVat" />*@
                                            @*<input type="checkbox"  onkeyup="totalSub()" name="CheckSSCVat" id="checksscvat">*@
                                        </div>
                                    </div>
                                    <label for="accessname" class="col-md-9 col-sm-9">All Item <font size="2px" color="red"></font></label>
                                </div>

                            </div>



                            <div class="form-group  ">
                                <div class="form-group col-md-10 col-sm-12 ">
                                    <label for="accessname" class="col-md-3 col-sm-5">To Item<font size="2px" color="red"></font></label>
                                    <div class="col-md-4 col-sm-7">
                                        <input name="From_Item" textbox id="freightpaymodetoitem" placeholder="To Item" readonly="readonly" class="form-control" type="text">
                                        @*@Html.EditorFor(model => model.MAWB, new { htmlAttributes = new { @class = "form-control",@readonly= "readonly", placeholder = "To Destination",id="toitem" } })*@
                                    </div>
                                </div>
                            </div>

                        </div>
                        @*Cargo Type Div*@
                        <div id="cargotypeitemwise">
                            <div class="form-group col-md-10 col-sm-12 ">
                                <label for="accessname" class="col-md-3 col-sm-5">From Item<font size="2px" color="red"></font></label>
                                <div class="col-md-4 col-sm-7">

                                    @*@Html.Editor("Ticket_Date", new { htmlAttributes = new { @class = "datepicker1" } })*@
                                    @*@Html.EditorFor(model => model.MAWB, new { htmlAttributes = new { @class = "form-control",@readonly= "readonly", placeholder = "From Destination",id="fromitem" } })*@
                                    <input name="From_Item" textbox id="cargotypefromitem" readonly="readonly" placeholder="From Item" class="form-control" type="text">

                                </div>
                                <div class="col-md-3">
                                    <div class="col-sm-1">
                                        <div class="required">
                                            <input id="cargotypeallitemcheck" value="" type="checkbox" checked="checked" name="CheckSSCVat" />
                                            @*<input type="hidden" value="false" name="CheckSSCVat" />*@
                                            @*<input type="checkbox"  onkeyup="totalSub()" name="CheckSSCVat" id="checksscvat">*@
                                        </div>
                                    </div>
                                    <label for="accessname" class="col-md-9 col-sm-9">All Item <font size="2px" color="red"></font></label>
                                </div>

                            </div>



                            <div class="form-group  ">
                                <div class="form-group col-md-10 col-sm-12 ">
                                    <label for="accessname" class="col-md-3 col-sm-5">To Item<font size="2px" color="red"></font></label>
                                    <div class="col-md-4 col-sm-7">
                                        <input name="From_Item" textbox id="cargotypetoitem" placeholder="To Item" readonly="readonly" class="form-control" type="text">
                                        @*@Html.EditorFor(model => model.MAWB, new { htmlAttributes = new { @class = "form-control",@readonly= "readonly", placeholder = "To Destination",id="toitem" } })*@
                                    </div>
                                </div>
                            </div>

                        </div>
                        @*Destinationwise*@

                        <div id="destinationwise">
                            <div class="form-group col-md-10 col-sm-12 ">
                                <label for="accessname" class="col-md-3 col-sm-5">From Destination<font size="2px" color="red"></font></label>
                                <div class="col-md-4 col-sm-7">

                                    @*@Html.Editor("Ticket_Date", new { htmlAttributes = new { @class = "datepicker1" } })*@
                                    @*@Html.EditorFor(model => model.MAWB, new { htmlAttributes = new { @class = "form-control",@readonly= "readonly", placeholder = "From Destination",id="fromitem" } })*@
                                    <input name="From_Item" textbox id="destinationfromitem" readonly="readonly" placeholder="From Item" class="form-control" type="text">

                                </div>
                                <div class="col-md-3">
                                    <div class="col-sm-1">
                                        <div class="required">
                                            <input id="destinationallitemcheck" value="" type="checkbox" checked="checked" name="CheckSSCVat" />
                                            @*<input type="hidden" value="false" name="CheckSSCVat" />*@
                                            @*<input type="checkbox"  onkeyup="totalSub()" name="CheckSSCVat" id="checksscvat">*@
                                        </div>
                                    </div>
                                    <label for="accessname" class="col-md-9 col-sm-9">All Item <font size="2px" color="red"></font></label>
                                </div>

                            </div>



                            <div class="form-group  ">
                                <div class="form-group col-md-10 col-sm-12 ">
                                    <label for="accessname" class="col-md-3 col-sm-5">To Destiantion<font size="2px" color="red"></font></label>
                                    <div class="col-md-4 col-sm-7">
                                        <input name="From_Item" textbox id="destinationtoitem" placeholder="To Item" readonly="readonly" class="form-control" type="text">
                                        @*@Html.EditorFor(model => model.MAWB, new { htmlAttributes = new { @class = "form-control",@readonly= "readonly", placeholder = "To Destination",id="toitem" } })*@
                                    </div>
                                </div>
                            </div>

                        </div>

                        @*Freighter*@
                        <div id="freighterwise">
                            <div class="form-group col-md-10 col-sm-12 ">
                                <label for="accessname" class="col-md-3 col-sm-5">From Item<font size="2px" color="red"></font></label>
                                <div class="col-md-4 col-sm-7">

                                    @*@Html.Editor("Ticket_Date", new { htmlAttributes = new { @class = "datepicker1" } })*@
                                    @*@Html.EditorFor(model => model.MAWB, new { htmlAttributes = new { @class = "form-control",@readonly= "readonly", placeholder = "From Destination",id="fromitem" } })*@
                                    <input name="From_Item" textbox id="freightertypefromitem" readonly="readonly" placeholder="From Item" class="form-control" type="text">

                                </div>
                                <div class="col-md-3">
                                    <div class="col-sm-1">
                                        <div class="required">
                                            <input id="freightertypeallitemcheck" value="" type="checkbox" checked="checked" name="CheckSSCVat" />
                                            @*<input type="hidden" value="false" name="CheckSSCVat" />*@
                                            @*<input type="checkbox"  onkeyup="totalSub()" name="CheckSSCVat" id="checksscvat">*@
                                        </div>
                                    </div>
                                    <label for="accessname" class="col-md-9 col-sm-9">All Item <font size="2px" color="red"></font></label>
                                </div>

                            </div>



                            <div class="form-group  ">
                                <div class="form-group col-md-10 col-sm-12 ">
                                    <label for="accessname" class="col-md-3 col-sm-5">To Item<font size="2px" color="red"></font></label>
                                    <div class="col-md-4 col-sm-7">
                                        <input name="From_Item" textbox id="freightertypetoitem" placeholder="To Item" readonly="readonly" class="form-control" type="text">
                                        @*@Html.EditorFor(model => model.MAWB, new { htmlAttributes = new { @class = "form-control",@readonly= "readonly", placeholder = "To Destination",id="toitem" } })*@
                                    </div>
                                </div>
                            </div>

                        </div>

                        @*Continent Wise*@
                        <div id="continentwise">
                            <div class="form-group col-md-10 col-sm-12 ">
                                <label for="accessname" class="col-md-3 col-sm-5">Select Region<font size="2px" color="red">*</font></label>
                                <div class="col-md-4 col-sm-7">
                                    <div class="input-group">
                                        @*@Html.Editor("Ticket_Date", new { htmlAttributes = new { @class = "datepicker1" } })*@
                                        <input name="Customer_Name" textbox id="region" readonly="readonly" placeholder="Region" class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="col-sm-1">
                                        <div class="required">
                                            <input id="regionallitemcheck" value="" type="checkbox" checked="checked" name="CheckSSCVat" />
                                            @*<input type="hidden" value="false" name="CheckSSCVat" />*@
                                            @*<input type="checkbox"  onkeyup="totalSub()" name="CheckSSCVat" id="checksscvat">*@
                                        </div>
                                    </div>
                                    <label for="accessname" class="col-md-9 col-sm-9">All Item <font size="2px" color="red"></font></label>
                                </div>

                            </div>
                            <div class="form-group col-md-10 col-sm-12 ">
                                <label for="accessname" class="col-md-3 col-sm-5">Select Country<font size="2px" color="red">*</font></label>
                                <div class="col-md-4 col-sm-7">
                                    <div class="input-group">
                                        @*@Html.Editor("Ticket_Date", new { htmlAttributes = new { @class = "datepicker1" } })*@
                                        <input name="Customer_Name" textbox id="country" readonly="readonly" placeholder="Country" class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="col-sm-1">
                                        <div class="required">
                                            <input id="countryallitemcheck" value="" type="checkbox" checked="checked" name="CheckSSCVat" />
                                            @*<input type="hidden" value="false" name="CheckSSCVat" />*@
                                            @*<input type="checkbox"  onkeyup="totalSub()" name="CheckSSCVat" id="checksscvat">*@
                                        </div>
                                    </div>
                                    <label for="accessname" class="col-md-9 col-sm-9">All Item <font size="2px" color="red"></font></label>
                                </div>

                            </div>
                            <div class="form-group col-md-10 col-sm-12 ">
                                <label for="accessname" class="col-md-3 col-sm-5">Select Destination<font size="2px" color="red">*</font></label>
                                <div class="col-md-4 col-sm-7">
                                    <div class="input-group">
                                        @*@Html.Editor("Ticket_Date", new { htmlAttributes = new { @class = "datepicker1" } })*@
                                        <input name="Destination_Name" textbox id="continentdestination" readonly="readonly" placeholder="Destination" class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="col-sm-1">
                                        <div class="required">
                                            <input id="destinationitemcheck" value="" type="checkbox" checked="checked" name="CheckSSCVat" />
                                            @*<input type="hidden" value="false" name="CheckSSCVat" />*@
                                            @*<input type="checkbox"  onkeyup="totalSub()" name="CheckSSCVat" id="checksscvat">*@
                                        </div>
                                    </div>
                                    <label for="accessname" class="col-md-9 col-sm-9">All Item <font size="2px" color="red"></font></label>
                                </div>

                            </div>
                        </div>

                        @*GroupWise*@
                        <div id="groupwise">
                            <div class="form-group col-md-10 col-sm-12 ">
                                <label for="accessname" class="col-md-3 col-sm-5">From Group<font size="2px" color="red"></font></label>
                                <div class="col-md-4 col-sm-7">

                                    @*@Html.Editor("Ticket_Date", new { htmlAttributes = new { @class = "datepicker1" } })*@
                                    <input name="From_Item" textbox id="groupfromitem" readonly="readonly" placeholder="From Item" class="form-control" type="text">

                                </div>
                                <div class="col-md-3">
                                    <div class="col-sm-1">
                                        <div class="required">
                                            <input id="allgroupcheck" type="checkbox" value="true" checked="checked" name="CheckSSCVat" />
                                            <input type="hidden" value="false" name="CheckSSCVat" />
                                            @*<input type="checkbox"  onkeyup="totalSub()" name="CheckSSCVat" id="checksscvat">*@
                                        </div>
                                    </div>
                                    <label for="accessname" class="col-md-9 col-sm-9">All Group <font size="2px" color="red"></font></label>
                                </div>

                            </div>



                            <div class="form-group  ">
                                <div class="form-group col-md-10 col-sm-12 ">
                                    <label for="accessname" class="col-md-3 col-sm-5">To Group<font size="2px" color="red"></font></label>
                                    <div class="col-md-4 col-sm-7">
                                        <input name="From_Item" textbox id="grouptoitem" readonly="readonly" placeholder="From Item" class="form-control" type="text">
                                    </div>
                                </div>
                            </div>

                        </div>

                      
                        <div class="form-group col-md-10 col-sm-12 ">
                            <div class="col-md-10">
                                <div align="center">
                                    @*<a href="@Url.Action("Export","CustomerTypeInformation")">Export Report</a>*@
                                    @*<a class="btn btn-primary" style="margin-left:10px" onclick="location.href='@Url.Action("Index", "ReportInformation")'"><i class="fa fa-plus"></i>Back To List</a>*@
                                    <input type="button" value="Download PDF" id="btnpdf" onclick="pdfExportCheck(this.id)" class="btn btn-info" />
                                    <input type="button" value="Excel Export" id="btnexcel" onclick="pdfExportCheck(this.id)" class="btn btn-info" />
                                    <input type="button" value="Send" id="btnsend" onclick="pdfExportCheck(this.id)" class="btn btn-info" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}



@section scripts{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    @*<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>*@
    <!-- Load jQuery UI Main JS  -->



   
  


    <script type="text/javascript">
        jQuery.noConflict()(function ($) {

            $(function () {
                $("#DateFrom").datepicker();
                $("#DateTo").datepicker();

            });
            $(function () {
                //$("#mawbtextbox").hide()
                $("#datewise").hide()
                $("#freightpaymode").hide()
                $("#cargotypeitemwise").hide()
                $("#groupwise").hide()
                $("#agentwise").hide()
                $("#freighterwise").hide()
                $("#destinationwise").hide()
                $("#continentwise").hide();
                $("#btnsend").hide()

                $("#reportid").change(function () {
                    var reportid = $("#reportid").val();
                    if (reportid == null) {

                    }
                    else

                        $('#checkmasterdate').click(function () {
                            if ($('#checkmasterdate').is(':checked')) {
                                $("#checkmasterdate").val();
                                $("#checkflightdate").prop("checked", false);
                                //alert("Checkbox is checked.");
                            }
                        });
                    $('#checkflightdate').click(function () {
                        if ($('#checkflightdate').is(':checked')) {
                            $("#checkflightdate").val();
                            $("#checkmasterdate").prop("checked", false);
                            //alert("Checkbox is checked.");
                        }
                    });

                    //DAILY REPORT-DATE-ITEM-GROUP WISE(GROUP BY ITEM) 
                    if (reportid == "7") { 

                        $('#cargotypeallitemcheck').click(function () {
                            if ($(this).is(':checked')) {
                                $('#cargotypefromitem').prop('readonly', true);
                                $('#cargotypefromitem').val('');
                                $('#cargotypetoitem').prop('readonly', true);
                                $('#cargotypetoitem').val('');
                                // alert("Checkbox is checked.");
                            }
                            else {

                                $('#cargotypefromitem').prop('readonly', false);
                                $('#cargotypetoitem').prop('readonly', false);
                                $('#cargotypefromitem').val('');
                                $('#cargotypetoitem').val('');
                              
                            }
                        });

                        $('#allgroupcheck').click(function () {
                            if ($(this).is(':checked')) {
                                $('#groupfromitem').prop('readonly', true);
                                $('#groupfromitem').val('');
                                $('#grouptoitem').prop('readonly', true);                             
                                $('#grouptoitem').val('');
                                // alert("Checkbox is checked.");
                            }
                            else {

                                $('#groupfromitem').prop('readonly', false);
                                $('#groupfromitem').val('');

                                $('#grouptoitem').prop('readonly', false);
                                $('#grouptoitem').val('');
                            }
                        });
                      

                        $("#datewise").show();
                        //$("#mawbtextbox").show();
                        $("#freightpaymode").hide()
                        $("#cargotypeitemwise").show();
                        $("#destinationwise").hide();
                        $("#freighterwise").hide();
                        $("#groupwise").show();
                        $("#continentwise").hide();
                        $("#agentwise").hide();
                        $("#btnsend").hide();
                        //pdfExportCheck();

                    }
          

                });

            });

            //Cargo Type
            $("#cargotypefromitem").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/CargoSalesReport/Get_CargoType_From_Item",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },

                        success: function (data) {

                            response($.map(data, function (item) {

                                return {
                                    label: item,
                                    value: item,


                                };


                            }))

                        }
                    })
                },
                messages: {
                    noResults: "",
                    results: function (count) {
                        return count + (count > 1 ? ' results' : ' result ') + ' found';
                    }
                }
            })


            $("#cargotypetoitem").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/CargoSalesReport/Get_CargoType_To_Item",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },

                        success: function (data) {

                            response($.map(data, function (item) {

                                return {
                                    label: item,
                                    value: item,


                                };


                            }))

                        }
                    })
                },
                messages: {
                    noResults: "",
                    results: function (count) {
                        return count + (count > 1 ? ' results' : ' result ') + ' found';
                    }
                }
            })
            //});


            //Customer Group

            $("#groupfromitem").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/CargoSalesReport/Get_Group_From_Item",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },

                        success: function (data) {

                            response($.map(data, function (item) {

                                return {
                                    label: item,
                                    value: item,


                                };


                            }))

                        }
                    })
                },
                messages: {
                    noResults: "",
                    results: function (count) {
                        return count + (count > 1 ? ' results' : ' result ') + ' found';
                    }
                }
            })


            $("#grouptoitem").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/CargoSalesReport/Get_Group_To_Item",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },

                        success: function (data) {

                            response($.map(data, function (item) {

                                return {
                                    label: item,
                                    value: item,


                                };


                            }))

                        }
                    })
                },
                messages: {
                    noResults: "",
                    results: function (count) {
                        return count + (count > 1 ? ' results' : ' result ') + ' found';
                    }
                }
            })
            //});



            //freighter type

            $("#freightertypefromitem").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/CargoSalesReport/Get_FreighterType_From_Item",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },

                        success: function (data) {

                            response($.map(data, function (item) {

                                return {
                                    label: item,
                                    value: item,


                                };


                            }))

                        }
                    })
                },
                messages: {
                    noResults: "",
                    results: function (count) {
                        return count + (count > 1 ? ' results' : ' result ') + ' found';
                    }
                }
            })


            $("#freightertypetoitem").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/CargoSalesReport/Get_FreighterType_To_Item",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },

                        success: function (data) {

                            response($.map(data, function (item) {

                                return {
                                    label: item,
                                    value: item,


                                };


                            }))

                        }
                    })
                },
                messages: {
                    noResults: "",
                    results: function (count) {
                        return count + (count > 1 ? ' results' : ' result ') + ' found';
                    }
                }
            })

            //Agent/Customer

            $("#customer").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/CargoSalesReport/Get_Customer_Name",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },

                        success: function (data) {

                            response($.map(data, function (item) {

                                return {
                                    label: item,
                                    value: item,


                                };


                            }))

                        }
                    })
                },
                messages: {
                    noResults: "",
                    results: function (count) {
                        return count + (count > 1 ? ' results' : ' result ') + ' found';
                    }
                }
            })

            //freightpaymode type
            $("#freightpaymode").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/MISReport/Get_Freight_Paymode",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },

                        success: function (data) {

                            response($.map(data, function (item) {

                                return {
                                    label: item,
                                    value: item,


                                };


                            }))

                        }
                    })
                },
                messages: {
                    noResults: "",
                    results: function (count) {
                        return count + (count > 1 ? ' results' : ' result ') + ' found';
                    }
                }
            })

            //Destianationfromitem wise
            $("#destinationfromitem").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/CargoSalesReport/Get_Destination_From_Item",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },

                        success: function (data) {

                            response($.map(data, function (item) {

                                return {
                                    label: item,
                                    value: item,


                                };


                            }))

                        }
                    })
                },
                messages: {
                    noResults: "",
                    results: function (count) {
                        return count + (count > 1 ? ' results' : ' result ') + ' found';
                    }
                }
            })


            //Region
            $("#region").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/CargoSalesReport/Get_Region_Item",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },

                        success: function (data) {

                            response($.map(data, function (item) {

                                return {
                                    label: item,
                                    value: item,


                                };


                            }))

                        }
                    })
                },
                messages: {
                    noResults: "",
                    results: function (count) {
                        return count + (count > 1 ? ' results' : ' result ') + ' found';
                    }
                }
            })
            //Country
            $("#country").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/CargoSalesReport/Get_Country_Item",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },

                        success: function (data) {

                            response($.map(data, function (item) {

                                return {
                                    label: item,
                                    value: item,


                                };


                            }))

                        }
                    })
                },
                messages: {
                    noResults: "",
                    results: function (count) {
                        return count + (count > 1 ? ' results' : ' result ') + ' found';
                    }
                }
            })
            //Destination
            $("#continentdestination").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/CargoSalesReport/Get_Destination_Item",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },

                        success: function (data) {

                            response($.map(data, function (item) {

                                return {
                                    label: item,
                                    value: item,


                                };


                            }))

                        }
                    })
                },
                messages: {
                    noResults: "",
                    results: function (count) {
                        return count + (count > 1 ? ' results' : ' result ') + ' found';
                    }
                }
            })


            $("#destinationtoitem").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/CargoSalesReport/Get_Destination_To_Item",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },

                        success: function (data) {

                            response($.map(data, function (item) {

                                return {
                                    label: item,
                                    value: item,


                                };


                            }))

                        }
                    })
                },
                messages: {
                    noResults: "",
                    results: function (count) {
                        return count + (count > 1 ? ' results' : ' result ') + ' found';
                    }
                }
            })
        });
    </script>


<script>


        function pdfExportCheck(clicked_id) {
            //$.post("@Url.Action("Export", "CargoSalesReport")",
            var fromdate = $('#DateFrom').val();
            var todate = $('#DateTo').val();
            //var reportname = $('#reportname').val();
            var reportid = $('#reportid').val();
            var clickbtn = clicked_id;


            if ($('#checkmasterdate').is(':checked')) {
                var checkdate = $("#checkmasterdate").val();
                //var checkdate = $("input[name='date']:checked").val();
                //$("#checkmasterdate").val();
                $("#checkflightdate").prop("checked", false);
                //alert("Checkbox is checked.");
            }
            //});
            //$('#checkflightdate').click(function () {
            if ($('#checkflightdate').is(':checked')) {
                var checkdate = $("#checkflightdate").val();


                $("#checkmasterdate").prop("checked", false);
                //alert("Checkbox is checked.");
            }
            //DAILY REPORT-DATE-ITEM-GROUP WISE(GROUP BY ITEM)
             if (reportid == "7") {

                if ($('#cargotypeallitemcheck').is(':checked')) {
                    $("#cargotypeallitemcheck").val("true");
                    //var x = document.getElementById("allitemcheck").value;
                    //$('#allitemcheck').value == "true";
                    var cargotypeallitemcheck = $('#cargotypeallitemcheck').val();
                    var cargotypefromitem = $('#cargotypefromitem').val();
                    var cargotypetoitem = $('#cargotypetoitem').val();




                }
                else {
                    // var allitemcheck = $("#allitemcheck").val();
                    $("#cargotypeallitemcheck").val("false");
                    //var x = document.getElementById("allitemcheck").value;
                    //$('#allitemcheck').value == "true";
                    var cargotypeallitemcheck = $('#cargotypeallitemcheck').val();
                    var cargotypefromitem = $('#cargotypefromitem').val();
                    var cargotypetoitem = $('#cargotypetoitem').val();



                }

                if ($('#allgroupcheck').is(':checked')) {
                    $("#allgroupcheck").val("true");
                    //var x = document.getElementById("allitemcheck").value;
                    //$('#allitemcheck').value == "true";
                    var allgroupcheck = $('#allgroupcheck').val();
                    var groupfromitem = $('#groupfromitem').val();
                    var grouptoitem = $('#grouptoitem').val();



                }
                else {
                    // var allitemcheck = $("#allitemcheck").val();
                    $("#allgroupcheck").val("false");
                    //var x = document.getElementById("allitemcheck").value;
                    //$('#allitemcheck').value == "true";
                    var allgroupcheck = $('#allgroupcheck').val();
                    var groupfromitem = $('#groupfromitem').val();
                    var grouptoitem = $('#grouptoitem').val();



                }

              




            }

           // location.href = 'Url.Action("Export", "CargoSalesReport")?fromdate=' + fromdate + '&todate=' + todate + ' &reportname=' + reportname + '&checkdate=' + checkdate + ' &cargotypefromitem=' + cargotypefromitem + ' &cargotypetoitem=' + cargotypetoitem + ' &cargotypeallitemcheck=' + cargotypeallitemcheck + '&freightertypefromitem=' + freightertypefromitem + ' &freightertypetoitem=' + freightertypetoitem + ' &freightertypeallitemcheck=' + freightertypeallitemcheck + ' &customerallitemcheck=' + customerallitemcheck + ' &customer=' + customer + ' &freightpaymodefromitem=' + freightpaymodefromitem + ' &freightpaymodetoitem=' + freightpaymodetoitem + ' &freightpaymodeallitemcheck=' + freightpaymodeallitemcheck;

           // window.open('/CargoSalesReport/Export?fromdate=' + fromdate + '&todate=' + todate + ' &reportname=' + reportname + '&checkdate=' + checkdate + ' &cargotypefromitem=' + cargotypefromitem + ' &cargotypetoitem=' + cargotypetoitem + ' &cargotypeallitemcheck=' + cargotypeallitemcheck + '&freightertypefromitem=' + freightertypefromitem + ' &freightertypetoitem=' + freightertypetoitem + ' &freightertypeallitemcheck=' + freightertypeallitemcheck + ' &customerallitemcheck=' + customerallitemcheck + ' &customer=' + customer + ' &freightpaymodefromitem=' + freightpaymodefromitem + ' &freightpaymodetoitem=' + freightpaymodetoitem + ' &freightpaymodeallitemcheck=' + freightpaymodeallitemcheck +  '',

            //window.open('/CargoSalesReport/Export?fromdate=' + fromdate + '&todate=' + todate + ' &reportname=' + reportname + '&checkdate=' + checkdate + ' &cargotypefromitem=' + cargotypefromitem + ' &cargotypetoitem=' + cargotypetoitem + ' &cargotypeallitemcheck=' + cargotypeallitemcheck + '&freightertypefromitem=' + freightertypefromitem + ' &freightertypetoitem=' + freightertypetoitem + ' &freightertypeallitemcheck=' + freightertypeallitemcheck + ' &customerallitemcheck=' + customerallitemcheck + ' &customer=' + customer + ' &freightpaymodefromitem=' + freightpaymodefromitem + ' &freightpaymodetoitem=' + freightpaymodetoitem + ' &freightpaymodeallitemcheck=' + freightpaymodeallitemcheck + ' &allgroupcheck=' + allgroupcheck + ' &groupfromitem=' + groupfromitem + ' &grouptoitem=' + grouptoitem + '&destinationallitemcheck=' + destinationallitemcheck + ' &destinationfromitem=' + destinationfromitem + ' &destinationtoitem=' + destinationtoitem + '&regionallitemcheck=' + regionallitemcheck + '&countryallitemcheck=' + countryallitemcheck + ' &destinationitemcheck=' + destinationitemcheck + '&region=' + region + '&country=' + country + ' &continentdestination=' + continentdestination + ' &clickbtn=' + clickbtn + '',
            //    {
            window.open('/CargoSalesReport/Export?fromdate=' + fromdate + '&todate=' + todate + ' &reportid=' + reportid + '&checkdate=' + checkdate + ' &cargotypefromitem=' + cargotypefromitem + ' &cargotypetoitem=' + cargotypetoitem + ' &cargotypeallitemcheck=' + cargotypeallitemcheck +' &allgroupcheck=' + allgroupcheck + ' &groupfromitem=' + groupfromitem + ' &grouptoitem=' + grouptoitem + ' &clickbtn=' + clickbtn + '',
               {


                },
            )


        }


</script>






}
