@model GSA_Management_Information_System.Models.MenuItemInformation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MenuItemInformation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Menu_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Menu_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModuleIcon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleIcon)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MenuItemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
