@model IEnumerable<GSA_Management_Information_System.Models.CustomerTypeInformation>

@{
    ViewBag.Title = "Index";

}
<a href="@Url.Action("Export","CustomerTypeInformation")">Export Report</a>
<div class="container">

    <a class="btn btn-success" style="margin-bottom:10px" onclick="location.href='@Url.Action("Add", "CustomerTypeInformation")'"><i class="fa fa-plus"></i>Add New</a>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>

                <th>Type_Code</th>
                <th>Customer_Type</th>
                <th>Status</th>
                <th>Default_Code</th>
                <th></th>
            </tr>
        </thead>
    </table>


    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" />

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    @section scripts{
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
        <link rel="stylesheet" type="text/css" href="/DataTables/datatables.css">
        <script type="text/javascript" charset="utf8" src="/DataTables/datatables.js"></script>
        <script src="~/Scripts/notify.min.js"></script>
        <script>
            var Popup, dataTables;
            $(document).ready(function () {
                dataTables = $("#example").DataTable({
                    "ajax": {
                        "url": "/CustomerTypeInformation/GetData",
                        "type": "GET",
                        "datatype": "JSON"

                    },

                    "columns": [
                        { "data": "Type_Code" },
                        { "data": "Long_Desc" },
                        { "data": "Status" },
                        { "data": "Default_Code" },
                        { "data": "CustomerTypeId", "render": function (data) {
                                return "<a class='btn btn-default btn-sm' onclick=location.href='@Url.Action("Edit", "CustomerTypeInformation")/" + data + "'><i class='fa fa-pencil'></i> Edit</a><a class='btn btn-danger btn-sm'style='margin-left:5px'onclick=Delete("+ data +")><i class='fa fa-trash'></i> Delete</a>"
                                },
                                    "orderable": false,
                                    "searchable":false,
                                    "width":"150px"
                                }


                            ],


                             "language": {
                                 "emptyTable": "No data found, please click on <b>Add New</b> Button"
                            }
                        });
                    });


                    function SubmitForm(form) {
                        $.ajax({
                            type: "post",
                            url: form.action,
                            data: $(form).serialize(),
                            success: function (data) {
                                if (data.success) {
                                    dataTables.ajax.reload();
                                    $.notify(data.message, {
                                        globalPosition: "top center",
                                        className: "success"


                                    })


                                    Popup.dialog('close');

                                }
                                }

                        });

                        return false;
                    }




            function Delete(id) {

                        if (confirm('Are you sure you want to delete this customer type record ?'))
                        {
                            
                            $.ajax({
                                type: "post",
                                url: '@Url.Action("Delete", "CustomerTypeInformation")/' + id,
                                success: function (data) {
                                    if (data.success) {
                                        
                                        dataTables.ajax.reload();

                                        $.notify(data.message, {
                                            globalPosition: "top center",
                                            className: "success"

                                        })


                                    }
                                }
                            });
                        }
                    }

        </script>


    }

</div>































@*@model IEnumerable<GSA_Management_Information_System.Models.ConsignorInformation>

    @{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Consignor_Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consignor_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consignor_Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Default_Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entry_Date)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Consignor_Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consignor_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consignor_Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Default_Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Entry_Date)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ConsignorId }) |
                @Html.ActionLink("Details", "Details", new { id=item.ConsignorId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ConsignorId })
            </td>
        </tr>
    }

    </table>*@
