@model GSA_Management_Information_System.Models.StockIssueConfirmation

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>StockIssueConfirmation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SIssued_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SIssued_Code)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.Airlines_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Airlines_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.From_TicketNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.From_TicketNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.To_TicketNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.To_TicketNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ticket_Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ticket_Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Confirm_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Confirm_Date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
