@model IEnumerable<GSA_Management_Information_System.Models.StockIssueConfirmation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SIssued_Code)
        </th>
     
        <th>
            @Html.DisplayNameFor(model => model.Airlines_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.From_TicketNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.To_TicketNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ticket_Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Confirm_Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SIssued_Code)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.Airlines_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.From_TicketNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.To_TicketNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ticket_Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Confirm_Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CIssueId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CIssueId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CIssueId })
        </td>
    </tr>
}

</table>
