@model GSA_Management_Information_System.Models.StockIssueInformation

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Stock Issue Information</h4>
        <hr />
        <input type="hidden" name="SIssuedCode" value="@ViewBag.SIssuedCode" />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.SIssued_Code, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.Editor("SIssued_Code", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.SIssued_Code, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @*<div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.Issue_Date, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.Editor("Issue_Date", new { htmlAttributes = new { @class = "datepicker" } })
                    @Html.ValidationMessageFor(model => model.Issue_Date, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>*@
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.SRecieved_Code, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.SRecieved_Code, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SRecieved_Code, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.TextAreaFor(model => model.Remarks, 5, 55, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.Transaction_Status, htmlAttributes: new { @class = "control-label col-md-2" })
               
                <div class="col-md-2">
                   @Html.EditorFor(model => model.Transaction_Status, new { htmlAttributes = new { @class = "form-control" } })
                   @Html.ValidationMessageFor(model => model.Transaction_Status, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-6">
                        <div align="right">
                            <input type="submit" value="submit" class="btn btn-primary" />
                            <input type="reset" value="reset" class="btn btn-warning" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    }


                    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

                    @section scripts{
                        <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
                        <script>
                            $(function () {
                                $(".datepicker").datepicker({
                                    dateFormat: "mm/dd/yy",
                                    changemonth: true,
                                    changeyear: true,
                                    minDate: new Date(2018, 0, 1),
                                    maxDate: new Date(2020, 0, 1),
                                    showOn: "both",
                                    buttonImage: "http://jqueryui.com/resources/demos/datepicker/images/calendar.gif",
                                    buttonText: "Calender"
                                });
                            });
                        </script>
                    }

                    <script type="text/javascript">
                        $(document).ready(function () {
                            $("#SRecieved_Code").autocomplete({
                                source: function (request, response) {
                                    $.ajax({

                                        url: "/StockIssueInformation/GetRecieved_Code",
                                        type: "POST",
                                        dataType: "json",
                                        data: { Prefix: request.term },

                                        success: function (data) {

                                            response($.map(data, function (item) {

                                                return {
                                                    label: item.SRecieved_Code,
                                                    value: item.SRecieved_Code,



                                                };


                                            }))

                                        }
                                    })
                                },
                                messages: {
                                    noResults: "",
                                    results: function (count) {
                                        return count + (count > 1 ? ' results' : ' result ') + ' found';
                                    }
                                }
                            });
                        })
                    </script>








@*<script>
        $(document).ready(function() {

            $("#SRecieved_Code").click(function () {

                var SRecievedCode = $("#SRecieved_Code").val();

               // alert("Registration No: " + regNo);

                var jsonData = { SRecieved_Code: SRecieved_Code };
                
                 $.ajax({
                     type: "POST",
                     url: '@Url.Action("GetReceivedCodeById", "StockIssueInformation")',
                     contentType: "application/json; charset=utf-8",
                     data: JSON.stringify(jsonData),
                     dataType:"json",
                     success: function (data) {
                       //  alert("Success ");
                         $.each(data, function (key, value) {

                             $("#name").val(value.Name);
                             $("#email").val(value.Email);
                             $("#department").val(value.Department.DeptCode);

                            // alert("name: " + value.Name);
                             $("#courseId").empty();
                             $("#courseId").append('<option value=' +""+ '>' +"Select Course"+ '</option>');
                             var jsonData1 = { regNo: regNo };
                             $.ajax({
                                 type: "POST",
                                 url: '@Url.Action("GetCoursesbyRegNo","EnrollCourse")',
                                 contentType: "application/json; charset=utf-8",
                                 data: JSON.stringify(jsonData1),
                                 dataType: "json",
                                 success: function (data1) {
                                     $.each(data1, function (key1, value1) {
                                        // alert(value1.Id + " " + value1.CourseCode);
                                        // alert("Select course");
                                         $("#courseId").append('<option value=' + value1.CourseId + '>' + value1.Course.Course_Name + '</option>');
                                     });
                                 },
                             });
                         });
                     },
                 });

                 return false;
             });

            $("#submit").click(function () {

                var regNo = $("#registrationId").val();
                if (regNo == "") {
                    $("#regErrorMessage").text("Select Your Registration No");
                    return false;
                }

        

               


                var jsonData = { RegistrationNo: regNo, CourseId: courseId, CourseGrade: grade };

                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("EnrollStudentToCourse", "EnrollCourse")',
                                contentType: "application/json; charset=utf-8",
                                data: JSON.stringify(jsonData),
                                dataType: "json",
                                success: function (data) {
                                    $("#saveSucessMessage").text("Result Saved Successfully!");
                                    $("#registrationId").prop("selectedIndex", 0);
                                    $("#name").val("");
                                    $("#email").val("");
                                    $("#department").val("");
                                    $("#courseId").empty();
                                    $("#gradeName").prop("selectedIndex", 0);
                                },

                            });
                            return false;
                });
        });
</script>
}*@
