@model GSA_Management_Information_System.Models.Invoice
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@using (Html.BeginForm("Export", "BangladeshBankReport", FormMethod.Post, new { onSubmit = "return SubmitForm(this)" }))
            {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-horizontal">
        <div class="container">
            <div class="card ">
                <div class="card-header bg-info">Display Report Information </div>
                <div class="row">
                    <div class="form-group">
                        <div class="form-group col-md-10 col-sm-12 ">
                            <label for="accessname" class="col-md-3 col-sm-5">Report Name<font size="2px" color="red">*</font></label>
                            <div class="col-md-6 col-sm-7">
                                <select name="ReportName" id="reportid" class="form-control">
                                    <option value="">Select Report Name </option>
                                    @foreach (var report in ViewBag.ReportList)
                                    {
                                        <option value="@report.ReportId">@report.ReportName</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div id="datewise">
                            <div class="form-group col-md-10 col-sm-12 ">
                                <label for="accessname" class="col-md-3 col-sm-5">From Date<font size="2px" color="red">*</font></label>
                                <div class="col-md-4 col-sm-7">
                                    <div class="input-group">
                                        @*@Html.Editor("Ticket_Date", new { htmlAttributes = new { @class = "datepicker1" } })*@
                                        <input type="text" class="form-control datepicker" name="FromDate" id="DateFrom" placeholder="Date From" data-format="mm/dd/yyyy">
                                        <div class="input-group-addon">
                                            <a href="#"><i class="fa fa-calendar"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="col-sm-1">
                                        <div class="required">
                                            <input id="checkmasterdate" type="radio" value="MasterDate" checked="checked" name="Entry_Date" />
                                            @*<input type="hidden" value="false" name="CheckSSCVat" />*@
                                            @*<input type="checkbox"  onkeyup="totalSub()" name="CheckSSCVat" id="checksscvat">*@
                                        </div>
                                    </div>
                                    <label for="accessname" class="col-md-9 col-sm-9">Master Date<font size="2px" color="red"></font></label>
                                </div>

                            </div>
                            <div class="form-group col-md-10 col-sm-12 ">
                                <label for="accessname" class="col-md-3 col-sm-5">To Date<font size="2px" color="red">*</font></label>
                                <div class="col-md-4 col-sm-7">
                                    <div class="input-group">
                                        @*@Html.Editor("Ticket_Date", new { htmlAttributes = new { @class = "datepicker1" } })*@
                                        <input type="text" class="form-control datepicker" name="ToDate" id="DateTo" placeholder="To Date" data-format="mm/dd/yyyy">
                                        <div class="input-group-addon">
                                            <a href="#"><i class="fa fa-calendar"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="col-sm-1">
                                        <div class="required">
                                            <input id="checkflightdate" type="radio" value="FlightDate" name="Flight_Date" />
                                            @*<input type="hidden" value="false" name="CheckSSCVat" />*@
                                            @*<input type="checkbox" onkeyup="totalSub()" name="CheckSSCVat" id="checksscvat">*@
                                        </div>
                                    </div>
                                    <label for="accessname" class="col-md-9 col-sm-9">Flight Date<font size="2px" color="red"></font></label>
                                </div>
                            </div>

                        </div>
                        <div class="form-group col-md-10 col-sm-12 ">
                            <div class="col-md-10">
                                <div align="center">
                                    @*<a href="@Url.Action("Export","CustomerTypeInformation")">Export Report</a>*@
                                    @*<a class="btn btn-primary" style="margin-left:10px" onclick="location.href='@Url.Action("Index", "ReportInformation")'"><i class="fa fa-plus"></i>Back To List</a>*@
                                    <input type="button" value="Download PDF" id="btnpdf" onclick="pdfExportCheck(this.id)" class="btn btn-info" />
                                    <input type="button" value="Excel Export" id="btnexcel" onclick="pdfExportCheck(this.id)" class="btn btn-info" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}



@section scripts{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    @*<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>*@
    <!-- Load jQuery UI Main JS  -->



    <script>

        //function pdfExportCheck() {


        //    var fromdate= $('#DateFrom').val();
        //    var todate = $('#DateTo').val();


        //    $.ajax({
        //        //url: '/Report?fromdate=' + fromdate + '&todate=' + todate+'',
        //        url: '/BangladeshBankReport/Export?fromdate=' + fromdate + '&todate=' + todate + '',

        //                success: function (response) {

        //                }
        //        });
        //    }


        //$("#Status").html("checking...........");
        function pdfExportCheck(clicked_id) {
            //$.post("@Url.Action("Export", "BangladeshBankReport")",
            var fromdate = $('#DateFrom').val();
            var todate = $('#DateTo').val();
           // var reportname = $('#reportname').val();
            var reportid = $('#reportid').val();
            var clickbtn = clicked_id;


            //$('#checkmasterdate').click(function () {
            if ($('#checkmasterdate').is(':checked')) {
                var checkdate = $("#checkmasterdate").val();
                //var checkdate = $("input[name='date']:checked").val();
                //$("#checkmasterdate").val();
                $("#checkflightdate").prop("checked", false);
                //alert("Checkbox is checked.");
            }
            //});
            //$('#checkflightdate').click(function () {
            if ($('#checkflightdate').is(':checked')) {
                var checkdate = $("#checkflightdate").val();
                //var checkdate = $("input[name='Date']:checked").val();
                //var checkflightdate = $("#checkflightdate").val();
                // alert("checkflightdate");

                $("#checkmasterdate").prop("checked", false);
                //alert("Checkbox is checked.");
            }
            //reportname == "INVOICE""

            if (reportid == "22") {


                window.open('/Invoice/Export?fromdate=' + fromdate + '&todate=' + todate + ' &reportname=' + reportname + '&checkdate=' + checkdate + '&clickbtn=' + clickbtn + ' ',

                   {
                //        // fromdate: $('#DateFrom').val(),
                //        // todate: $('#DateTo').val()
                //        //toDataa: $('#toticketNo').val()

                    },
                   )

            }

        }



    </script>





    <script type="text/javascript">
        jQuery.noConflict()(function ($) {

            $(function () {
                $("#DateFrom").datepicker();
                $("#DateTo").datepicker();

            });
            $(function () {
                //$("#mawbtextbox").hide()
                $("#datewise").hide()


                $("#reportid").change(function () {
                    // var reportName = $("#reportname").val();
                    var reportid = $("#reportid").val();
                    if (reportid == null) {

                    }
                    else

                        $('#checkmasterdate').click(function () {
                            if ($('#checkmasterdate').is(':checked')) {
                                $("#checkmasterdate").val();
                                $("#checkflightdate").prop("checked", false);
                                //alert("Checkbox is checked.");
                            }
                        });
                    $('#checkflightdate').click(function () {
                        if ($('#checkflightdate').is(':checked')) {
                            $("#checkflightdate").val();
                            $("#checkmasterdate").prop("checked", false);
                            //alert("Checkbox is checked.");
                        }
                    });


                    //reportName == "BANGLADESH BANK REPORT-DATE WISE"
                    if (reportid == "17") {

                        $("#datewise").show();




                    }

                });

            });
        });
    </script>









}
