@model GSA_Management_Information_System.Models.CompanyInformation
    
@{
    ViewBag.Title = "Create";
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="~/Gsa_Management_System_layout/assets/css/legendcss.css" rel="stylesheet" />

@using (Html.BeginForm("Create", "CompanyInformation", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-horizontal">
        <div class="container">
            <div class="card ">
                <div class="card-header bg-info">Company Configuration</div>
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border"></legend>
                    <div class="form-group">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label for="FreighterName">
                                                    Company Name
                                                    <span id="txtFreighterName" style="color:#FF0000;">*</span>
                                                </label>
                                            </div>
                                            <div class="col-sm-8">
                                                @*<div class="required">*@

                                                    <input id="companyname" name="Company_Name" placeholder="Company Name" class="form-control" type="text"  required="required" value="@ViewBag.Company_Name">

                                                @*</div>*@
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label for="Origin">
                                                    Company Code
                                                    <span id="txtoriginname" style="color:#FF0000;">*</span>
                                                </label>
                                            </div>
                                            <div class="col-sm-8">
                                                @*<div class="required">*@

                                                    <input id="companycode" name="Company_Code" placeholder="Company Code" readonly class="form-control" type="text" required value="@ViewBag.Company_Code">

                                                @*</div>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label for="FreighterName">
                                                Branch Name
                                                <span id="txtFreighterName" style="color:#FF0000;">*</span>
                                            </label>
                                        </div>
                                        <div class="col-sm-8">
                                            @*<div class="required">*@

                                                <input id="branchname" name="Branch_Name" placeholder="Branch Name" class="form-control" type="text" required="required" value="@ViewBag.Branch_Name">

                                            @*</div>*@
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label for="Origin">
                                                Branch Code
                                                <span id="txtoriginname" style="color:#FF0000;">*</span>
                                            </label>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="required">

                                                <input id="branchcode" name="Branch_Code" placeholder="Branch Code" readonly class="form-control" type="text" required="required" value="@ViewBag.Branch_Code">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label for="FreighterName">
                                                    Company Tin
                                                    <span id="txtFreighterName" style="color:#FF0000;">*</span>
                                                </label>
                                            </div>
                                            <div class="col-sm-8">
                                                @*<div class="required">*@

                                                    <input id="companytin" name="Company_Tin" placeholder="Company Tin" class="form-control" type="text">

                                                @*</div>*@
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label for="Origin">
                                                    Company Address
                                                    <span id="txtoriginname" style="color:#FF0000;">*</span>
                                                </label>
                                            </div>
                                            <div class="col-sm-8">
                                                @*<div class="required">*@

                                                    <input id="companyaddress" name="Company_Address" placeholder="Company_Address" class="form-control" type="text">

                                                @*</div>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label for="FreighterName">
                                                Postcode
                                                <span id="txtFreighterName" style="color:#FF0000;">*</span>
                                            </label>
                                        </div>
                                        <div class="col-sm-8">
                                            @*<div class="required">*@

                                                <input id="companypostcode" name="Company_Postcode" placeholder="Company Postcode" class="form-control" type="text">

                                            @*</div>*@
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label for="Origin">
                                                City
                                                <span id="txtoriginname" style="color:#FF0000;">*</span>
                                            </label>
                                        </div>
                                        <div class="col-sm-8">
                                            @*<div class="required">*@

                                                <input id="companycity" name="Company_City" placeholder="Company City" class="form-control" type="text">

                                            @*</div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label for="Country">
                                                Country
                                                <span id="txtFreighterName" style="color:#FF0000;">*</span>
                                            </label>
                                        </div>
                                        <div class="col-sm-8">
                                            @*<div class="required">*@

                                                <input id="companycountry" name="Company_Country" placeholder="Country" class="form-control" type="text">

                                            @*</div>*@
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label for="Origin">
                                                Contact No
                                                <span id="txtoriginname" style="color:#FF0000;">*</span>
                                            </label>
                                        </div>
                                        <div class="col-sm-8">
                                            @*<div class="required">*@

                                                <input id="companycontact" name="Company_ContacNo" placeholder="Contact No" class="form-control"  type="text">

                                            @*</div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label for="FreighterName">
                                                Dialogue
                                                <span id="txtFreighterName" style="color:#FF0000;">*</span>
                                            </label>
                                        </div>
                                        <div class="col-sm-8">
                                            @*<div class="required">*@

                                                @*<input id="companypostcode" name="Company_Fax" placeholder="Fax" class="form-control" type="text">*@
                                                @Html.EditorFor(model => model.Company_Dialogue, new { htmlAttributes = new { @class = "form-control" } })


                                            @*</div>*@
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label for="Origin">
                                                Email
                                                <span id="txtoriginname" style="color:#FF0000;">*</span>
                                            </label>
                                        </div>
                                        <div class="col-sm-8">
                                            @*<div class="required">*@

                                                <input id="companycity" name="Company_Email" placeholder="Email " class="form-control" type="text" required="required">
                                            @Html.ValidationMessageFor(model => model.Company_Email, "", new { @class = "text-danger" })


                                            @*</div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="row">

                            <div class="col-sm-6">

                                <div class="row">
                                    <div class="col-sm-4">
                                        <label for="FreighterName">
                                            Company web
                                            <span id="txtFreighterName" style="color:#FF0000;">*</span>
                                        </label>
                                    </div>
                                    <div class="col-sm-8">
                                        @*<div class="required">*@

                                            <input id="companydialouge" name="Company_Web" placeholder="Web" class="form-control" type="text">

                                        @*</div>*@
                                    </div>

                                </div>

                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label for="Origin">
                                                Image Upload
                                                <span id="txtoriginname" style="color:#FF0000;">*</span>
                                            </label>
                                        </div>
                                        <div class="col-sm-8">
                                            @*<div class="required">*@

                                                <input type="file" name="Company_ImageUpload" required>

                                            @*</div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-6">

                                <div class="row">
                                    <div class="col-sm-4">
                                        <label for="FreighterName">
                                            Default
                                            <span id="txtFreighterName" style="color:#FF0000;">*</span>
                                        </label>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="required">
                                            <div class="checkbox">
                                                @Html.EditorFor(model => model.Default_Code)
                                                @Html.ValidationMessageFor(model => model.Default_Code, "", new { @class = "text-danger" })
                                            </div>
                                            @*<input id="companydialouge" name="Company_Web" placeholder="Web" class="form-control" type="text">*@

                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="form-group col-md-10 col-sm-12 ">
                                <div class="col-md-10">
                                    <div align="center">
                                        <a class="btn btn-primary" style="margin-left:10px" onclick="location.href='@Url.Action("Index", "CompanyInformation")'"><i class="fa fa-plus"></i>Back To List</a>
                                        <input type="submit" value="submit" class="btn btn-info" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    </fieldset>
</div>
                </div>
            </div>
       
 
}



@section scripts{
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<!-- Load jQuery JS -->
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<!-- Load jQuery UI Main JS  -->
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.min.js"></script>
    <script>
     

        //Branch Search
        jQuery.noConflict()(function ($) {

            $("#companyname").keyup(function () {
                var companyData = $("#companyname").val();
                if (companyData === '') {
                    $('#companycode').val('');

                }
                var jsonData = { companyname: companyData };
                $("#ReceivedIdErrorMessage").text("");
                $.ajax({
                    type: "POST",
                    url: "/CompanyInformation/GetCompanyCodeById",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(jsonData),
                    dataType: "json",
                    success: function (data) {
                        //  alert("Success ");
                        $("#companycode").val(data.Company_Code);

                    },
                });

                return false;
            });
            $("#companyname").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/CompanyInformation/Get_Company_Name",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },

                        success: function (data) {

                            response($.map(data, function (item) {

                                return {
                                    label: item.Company_Name,
                                    value: item.Company_Name,





                                };


                            }))

                        }
                    })
                },
                messages: {
                    noResults: "",
                    results: function (count) {
                        return count + (count > 1 ? ' results' : ' result ') + ' found';
                    }
                }
            });

            $("#branchname").keyup(function () {
                var branchData = $("#branchname").val();
                if (branchData === '') {
                    $('#branchcode').val('');

                }
                var jsonData = { branchname: branchData };
                $("#ReceivedIdErrorMessage").text("");
                $.ajax({
                    type: "POST",
                    url: "/CompanyInformation/GetBranchCodeById",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(jsonData),
                    dataType: "json",
                    success: function (data) {
                        //  alert("Success ");
                        $("#branchcode").val(data.Branch_Code);

                    },
                });

                return false;
            });
            $("#branchname").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/CompanyInformation/Get_Branch_Name",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },

                        success: function (data) {

                            response($.map(data, function (item) {

                                return {
                                    label: item.Branch_Name,
                                    value: item.Branch_Name,





                                };


                            }))

                        }
                    })
                },
                messages: {
                    noResults: "",
                    results: function (count) {
                        return count + (count > 1 ? ' results' : ' result ') + ' found';
                    }
                }
            });
        });


</script>

    @Scripts.Render("~/bundles/jqueryval")

}