@model GSA_Management_Information_System.Models.TicketSalesInformation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TicketSalesInformation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sales_Slno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sales_Slno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Airlines_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Airlines_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ticket_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ticket_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ticket_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ticket_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exchange_Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exchange_Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sales_Value_USD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sales_Value_USD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sales_Value_BDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sales_Value_BDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Commison)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commison)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Commison_Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commison_Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emb_Tax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emb_Tax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Travel_Tax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Travel_Tax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fuel_Charge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fuel_Charge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hk_Tax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hk_Tax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Xt_Charge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Xt_Charge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Other_Charge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Other_Charge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Net_Receivable_Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Net_Receivable_Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Received_Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Received_Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount_In_PPRS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount_In_PPRS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TicketSalesId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
